<!-- fragments/footer.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap">
</head>
<body>
    <footer style="background-color: #dc3545; color: white; padding: 20px; text-align: center;">
        <p style="font-size: 16px; font-weight: 600; margin: 0;">Nguyễn Minh Trung</p>
        <p style="font-size: 16px; font-weight: 600; margin: 0;">21146525</p>
    </footer>
</body>
</html>
