<!-- fragments/header.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap">
</head>
<body>
    <header style="background-color: #dc3545; color: white; padding: 20px; text-align: center;">
        <img src="https://scontent.fsgn5-15.fna.fbcdn.net/v/t39.30808-6/431641156_1081519552887948_9040582334290133828_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=6ee11a&_nc_eui2=AeFHzFS3eqDwx7oIt5-WGBekWgekYX7zBE1aB6RhfvMETWkqxwmm79o_vpQ_G6UplgCUr_5bOZxoUsCm-A_BXgOJ&_nc_ohc=CDHH8-SnZn4Q7kNvgFSbT7_&_nc_zt=23&_nc_ht=scontent.fsgn5-15.fna&_nc_gid=AsSyKg1GNXgxDALh-_dArnG&oh=00_AYBDfJ6xO8kiLlL6AoyDi_c7ZFmoAhN-MRO-KXsWT5ACIQ&oe=67291B58" 
            alt="User Image" 
            style="height: 100px; width: 100px; border-radius: 50%; margin: 0 auto;">
    </header>
</body>
</html>
